<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>微信提示</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name='apple-touch-fullscreen' content='yes'>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
    </head>
    <body>
        <div style="text-align:right;">
            <img src='@routes.Assets.at("images/jt.png")' style="width:22%;">
        </div>
<p style="text-align:center;">选择右上角"浏览器打开"</p>
        <div style="text-align:center;">
            <img src='@routes.Assets.at("images/dh.png")' style="width:50%;">
        </div>
    </body>
</html>
