@pc_frame("关于我们", "aboutUsApp", "aboutUsController") {
<meta charset="UTF-8">
<link rel="stylesheet" href='@routes.Assets.at("pc_css/about.css")' />
<style>
.MsoNormal a:link {color:#404040;}
.MsoNormal a:visited {color:#404040;}
.MsoNormal a:hover{color:#EA0505;}
.MsoNormal a:active{color:#404040;}
</style>
<div class="aboutUs">
	<h1>关于深圳市本香实业有限公司</h1>
	
	<div class="wboss" id="ab1" style=" padding: 41px;">
@*	    <p class="wbossti" style="    margin-top: 23px;">
			深圳市本香实业有限公司是深圳首家集高端沉香品牌的科研种植、栽培推广、生产营销为一体的综合型沉香品牌企业。
			其种植基地坐落在广东省国家AAAA级国际滨海旅游度假区惠州巽寮湾，拥有国内罕有的原生态级的水质和国内顶级的天然氧吧。占5000亩的占地面积，基地拥有独特的管理技术、培育技术和种植经验，是目前广东省最大的沉香种植培育基地。
		</p>
		
		<img src='@routes.Assets.at("pc_images/a.jpg")'/>
		
	    <p class="wbossti">
			本香拥有自己沉香制作工厂，全方位监控制作流程，安全放心，品质有保障！
		</p>
		
		<img src='@routes.Assets.at("pc_images/b.jpg")'/>
		
	    <p class="wbossti">
			本香拥有多家沉香实体体验店，品牌支撑，精品店铺，口碑卓越，实物品质可考核，可提供上门取货！
		</p>
		
		<img src='@routes.Assets.at("pc_images/c.jpg")'/>*@
		<p style="text-align: center; color:black;   font-size: 15px;font-weight: bold;margin: 0 0 20px 0;">深圳市本香实业有限公司：追寻华夏沉香之本源</p>
		<p>一段神木，百年凝聚 ，本香创始人—张碧雄，用一生做中国最好的原生态天然沉香。
		</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at1.png")' style=" padding: 20px 1px;">
		<p>在世界所有香料中，沉香最为神奇，为众香之首，集天地气味于一体，华夏大地，香道源远。沉香自唐朝传入中国岭南沿海，至宋朝时代，以莞香名世。“香山”、“香市”、“香港”亦因此闻名。今日之东莞、惠阳、中山、深圳、香港皆“莞香”故地。可悲的是，经百余年战火焚烧，数十年肆意砍伐，乃至近三十年工业化大潮汹涌，几乎吞噬了“莞香”产地，作为华夏沉香之源的“莞香”几乎消失，作为“莞香”故地的土著居民，张碧雄偶识沉香，便沉醉其中，与之结下不解之缘。近二十年来，不辞辛劳，上下求索，追寻华夏沉香之本源，呼唤那消失百年的华夏香道。复兴华夏沉香，成为张碧雄魂牵梦萦的梦想。
		</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at2.png")'style=" padding: 20px 1px;">
		<p>
			经过多年的奔走考察，张碧雄深知“沉香”之香，需凝聚天地日月海洋之精气，它对生长环境需求独特，一般需生长在亚热带低海拔的沿海山林之中。可如今沿海地区高度的工业化与城市化，已成寸土寸金之地，到哪里寻找适合沉香自然生长的地方。终于，在惠州市，稔平半岛、大鹏半岛，张碧雄发现了一块适合沉香自然生长的宝地，这里也属于“莞香”故地，属亚热带季风气候，水分、日照、地理纬度、种植土壤都非常适合沉香树的生长。张碧雄复兴华夏沉香之梦，终于找到了立足之地，为此他将全部精力和前半生的积蓄都投入了这里的沉香种植园地。
		</p>
		<p>&nbsp;</p>
		<p style="text-align: center">本香种植基地</p>
		<img src='@routes.Assets.at("images/at3.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at4.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at5.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at6.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<p>十几年来，从选地到租地，从选种到育苗，从种植到管理，张碧雄从一个沉香的门外汉到沉香培育专家。他的沉香种植园也从一片荒山野岭到初具规模。其间的甜酸苦辣，其间的投资得失，熟悉的朋友无不嘘欷。一个本来生活优裕的本土居民，经常翻山越岭穿梭于种植园中，比一般农民更为辛劳。生活在经济繁荣的深圳，不投资房地产却将毕生积蓄投放于荒山野岭，在某年育种失败时百万元化为乌有，张碧雄的沉香事业，也像沉香一样，只有在伤口中凝聚精华，才能焕发出惊世奇香。</p>
		<img src='@routes.Assets.at("images/at7.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at8.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at9.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at10.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<p>而今，在中国南海海岸线上跨度600公里范围都有沉香种植园，主战场大鹏半岛、稔平半岛、巽寮湾，张碧雄站在山头远眺自己的沉香种植园地，终于露出了欣慰的笑容，回想种植沉香的这十多年来，无数的辛苦艰难，风吹雨打，此刻都化作浮云。十多年的坚守与付出，如今终于看到发展的曙光。现在，到了完善沉香产业链的时候。</p>
		<img src='@routes.Assets.at("images/at11.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at12.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at13.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at14.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at15.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at16.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at17.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at18.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<p>“本香·沉香”是张碧雄沉香梦的企业载体。“本香”的理念是，追寻华夏沉香的本源，续写“莞香”故地沉香的辉煌历史，为此，恢复原生态、保持原生态、培育原生态的沉香，成为张碧雄沉香种植园栽培沉香始终坚持的基本原则。从援种到成树，张碧雄坚持不用化肥，确保沉香种植按原来的秉性，天然生长，并维护种植园的原生生态，期待种植园里的沉香保持本源的属性。如今“本香”出品的“沉香精油”、香薰系列高端产品已经推上市场。</p>
		<p>&nbsp;</p>
		<p style="color: red;text-align: center;font-size: 20px;">本香系列产品：天下沉香  唯我本香</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at19.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at20.png")'style=" padding: 20px 1px;">
		<p>本香沉香精油经过现代科技萃取，是沉香木提炼浓缩之后得到的精华，天然纯净！沉香精油具有调和理气、护肾羊肝、安眠抗郁、平脂祛痘、聚精气神等功效。</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at21.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at22.png")'style=" padding: 20px 1px;">
		<p>本香·天然沉香香薰能定魄安魂，具有助安神治疗失眠的功效。</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at23.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at24.png")'style=" padding: 20px 1px;">
		<p>沉香气味芳香，入肺、肾、脾、胃、经，为行气药中最上等的药材， 能调节人体内气的运行。</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at25.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at26.png")'style=" padding: 20px 1px;">
		<p>沉香香薰还能净化空气，驱逐秽气、杀虫灭菌，一缕清香，一丝韵味。</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at27.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at28.png")'style=" padding: 20px 1px;">
		<p>沉香的香气能行气、理气，祛除体内的“恶气”，调节体内气的运行。 是养生之必用。</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at29.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at30.png")'style=" padding: 20px 1px;">
		<p>作为古来“众香之首”的沉香，是唯一能通三界的香气。可辟邪除祟，通达心愿。助您心想事成！</p>
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at31.png")'style=" padding: 20px 1px;">
		<p>沉香粉冲泡可以饮用，温中纳气，为养生之道。</p>
		<img src='@routes.Assets.at("images/at32.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at33.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at34.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at35.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at36.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<img src='@routes.Assets.at("images/at37.png")'style=" padding: 20px 1px;">
		<p>&nbsp;</p>
		<p>“香道随行沉香魂，一品沉香天下仙”。期待沉睡百年的“莞香”故地，再现当年香飘海内外的“沉香”盛世。“本香”在这个浮躁的现代都市，将始终沉着追寻“沉香”之本源，让原生态的沉香产品走向世界，重圆华夏沉香复兴之梦。千年“莞香”故地，顺着大中华一带一路复兴之势，终有芬芳四溢之时。</p>
		<p>&nbsp;</p>
		<p>深圳市本香实业有限公司</p>
		<p>公司地址：深圳市南山区西丽街道丽康路</p>
		<p>热线电话：13530661688</p>

	</div>
	
	@*<div class="wboss" id="ab1.1">
		<h3>本香资讯</h3>
		<p class="MsoNormal">新闻报道</p>
		<p class="MsoNormal"><a href="http://www.ah.xinhuanet.com/2015-08/27/c_1116396782.htm">[1]&nbsp;<span>广东本香生态实业有限公司获“爱心企业”</span></a></p>
		<p class="MsoNormal"><a href="http://jx.cnr.cn/2011jxfw/xxzx/20150828/t20150828_519692024.shtml">[2]&nbsp;广东本香生态集团林董事长拟任中国农村青年致富带头人协会常务理事</a></p>
		<p class="MsoNormal"><a href="http://news.21cn.com/caiji/roll1/a/2016/0118/16/30502184.shtml">[3]&nbsp;<span>珠海斗门莲洲成为生态乡村旅游热点</span></a></p>
		<p class="MsoNormal"><a href="http://gd.sina.com.cn/yj/chanye/2014-07-17/11382050.html">[4]&nbsp;<span>红星村生态园启动&nbsp;投</span><span>8</span><span>亿打造高端养生基地</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.n21.cc/xw/zh/2014-7-16/content_87784.shtml">[5]&nbsp;<span>幸福村居特色产业启动新引擎&nbsp;本香生态园打造高端健康养生基地</span></a></p>
		<p class="MsoNormal"><a href="http://news.southcn.com/zhuanti/hqn/hx1/content/2014-10/10/content_109856184.htm">[6]&nbsp;<span>林伟波</span></a></p>
		<p class="MsoNormal"><a href="http://ln.sina.com.cn/fs/economy/2015-08-28/111424051.html?from=wap">[7]&nbsp;<span>大鹏展翅九万里—林伟波和他的本香生态养生园</span></a></p>
		<p class="MsoNormal"><a href="http://www.lenw.cn/news/show-114126.html">[8]&nbsp;<span>省农村办主任陈祖煌到本香生态养生园调研指导</span></p>
		<p class="MsoNormal"><a href="http://www.zhsw.gov.cn/sww_gqdw/gzdt/201602/t20160224_9785566.html">[9]&nbsp;<span>识仙草知民俗&nbsp;乐在田间地头&nbsp;春节长假市民热衷生态休闲农业游</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.xinzhongnews.com/a/xinwen/2015/0828/58408.html">[10]&nbsp;<span>广东本香生态养生园</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.chinakaoyan.com/graduate/info/nid/82421/schoolID/147.shtml">[11]&nbsp;<span>林伟波：“博士农民”高校开讲</span></a></p>
		<p class="MsoNormal"><a href="http://www.0756zx.com/news/local/3531999.html">[12]&nbsp;<span>团中央农业部表彰中国农村青年致富带头人&nbsp;珠海林伟波等</span><span>4</span><span>人上榜</span></a> </p>
		<p class="MsoNormal"><a href="http://money.163.com/16/0204/18/BF0GNHHK00254TI5.html">[13]&nbsp;<span>珠海斗门推出以“花”为主题的系列活动</span><span>(</span><span>图</span><span>)</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.0756zx.com/news/local/4217840.html">[14]&nbsp;<span>建筑“包工头”林伟波转型进军高科技农业&nbsp;也为自己做件漂亮“嫁衣”</span></a> </p>
		<p class="MsoNormal"><a href="http://gd.sina.com.cn/zh/news/2014-06-26/07305865.html">[15]&nbsp;<span>珠海国家农业科技园仙草落户&nbsp;亩产值</span><span>60</span><span>万元</span></a> </p>
		<p class="MsoNormal"><a href="http://news.zh51home.com/artical/124913.html">[16]&nbsp;[<span>市情</span><span>]&nbsp;</span><span>斗门百亩仙草园开建&nbsp;种铁皮石斛亩产值高</span></a> </p>
		<p class="MsoNormal"><a href="http://zh.house.qq.com/a/20150616/015179.htm">[17]&nbsp;<span>“博士农民”珠海高校开讲&nbsp;大咖公开课惠及近万大学生</span></a> </p>
		<p class="MsoNormal"><a href="http://zh.southcn.com/content/2015-09/10/content_132527164.htm">[18]&nbsp;<span>红星村：石斛产业带旺高端种养旅游</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.aiweibang.com/yuedu/86683567.html">[19]&nbsp;<span>春节请到斗门来看花&nbsp;感受多彩花田&nbsp;体验浓浓年味</span> </a> </p>
		<p class="MsoNormal"><a href="http://zh.southcn.com/content/2015-10/22/content_135352966.htm">[20]&nbsp;<span>莲洲举办千叟宴&nbsp;</span><span>800</span><span>余老人受邀</span> </a> </p>
		<p class="MsoNormal"><a href="http://www.zsnews.cn/Backup/2016/02/01/2837169.shtml">[21]&nbsp;<span>用健康的产品打造健康的生活</span></a></p>
		<p class="MsoNormal"><a href="http://www.ycwb.com/ePaper/ycwbdfb/html/2014-06/26/content_478729.htm?div=-1">[22]&nbsp;<span>斗门生态园招来“仙草之首”</span> </a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/a/0/v/a01837kk0av.html">[23]&nbsp;2016<span>年</span><span>1</span><span>月</span><span>23</span><span>日，广东本香生态实业有限公司在深圳前海股权交易中心成功挂牌上市。</span><span>(</span><span>有视频文件</span><span>)</span></a> </p>
		<br>
		<p class="MsoNormal">视频报道<span>:</span></p>
		<p class="MsoNormal"><a href="http://www.zhtv.com/xw/zh/2016-2-13/content_125075.shtml">[1]&nbsp;<span>春节去哪儿玩：“花田喜事”来穿越&nbsp;本香生态养生园：百万鲜花争相斗艳</span> </a> </p>
		<p class="MsoNormal"><a href="http://my.tv.sohu.com/us/274435473/82247621.shtml">[2]&nbsp;<span>铁皮石斛</span><span>-</span><span>本香生态园</span> </a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/z/0/v/z0186sr3klv.html">[3]&nbsp;本香生态养生园【2016花田喜事】</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/v/0/q/v017935f71q.html">[4]&nbsp;CCTV央视新闻报道：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/e/0/0/e0173ty2270.html">[5]&nbsp;莲洲铁皮石斛广告宣传片：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/w/0/p/w0174gibhjp.html">[6]&nbsp;本香生态养生园成立仪式：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/o/0/i/o01607pww8i.html">[7]&nbsp;广东省电视台新闻报道本香生态养生园：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/p/0/s/p0174aphyls.html">[8]&nbsp;珠海电视台报道广东本香生态养生园：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/b/0/1/b0155ttnhu1.html">[9]&nbsp;香港著名综艺3节目“吾熟吾食”专访本香生态养生园：</a> </p>
		<p class="MsoNormal"><a href="http://v.qq.com/boke/page/a/0/v/a01837kk0av.html">[10]&nbsp;广东本香生态实业有限公司挂牌敲钟仪式：</a> </p>
	</div>
	
	
	<div class="wboss" id="ab1.2">
		<h3>发展经历</h3>
		<p class="MsoNormal">
			1996<span>年，创立珠海诚丰建筑工程有限公司。</span>
		</p>
		<p class="MsoNormal">
			2007<span>年，创立兴宁本香农林开发有限公司。</span>
		</p>
		<p class="MsoNormal">
			2013<span>年，创立珠海本香农业科技有限公司。</span>
		</p>
		<p class="MsoNormal">
			2013<span>年，创立珠海市本香生物科技有限公司。</span>
		</p>
		<p class="MsoNormal">
			2013<span>年，创立珠海市逸安糖尿病患关爱中心。</span>
		</p>
		<p class="MsoNormal">
			2014<span>年，创立广东本香生态实业有限公司。</span>
		</p>
		<p class="MsoNormal">
			2016<span>年，广东本香生态实业有限公司在深圳前海股权交易中心成功挂牌上市。</span>
		</p>
	</div>
	
	
	<div class="wboss" id="ab1.3">
		<h3>董事长致辞</h3>
		<p class="MsoNormal">
			&nbsp; &nbsp; &nbsp; 我是这样解读财富的：财富如水，你有一杯水可以自己喝；你有一桶水，可以分一杯给人家喝；而当你有一条河流，你就要学会与他人共同分享。
		</p>
		<p class="MsoNormal">
			&nbsp; &nbsp; &nbsp; 当企业家拥有了这样一种胸怀，他的境界和智慧都将升华到更深层次，他的事业道路也更加宽广无垠。正因如此，本香集团秉承“逸致丰城、德厚仁宽”的发展战略，深耕稳筑“和谐、发展、创新、共赢”的宏图伟业。
		</p>
		<p class="MsoNormal">
			&nbsp; &nbsp; &nbsp; 广东本香生态实业有限公司，斥资<span>20</span><span>亿在珠海斗门莲洲镇建设珠海本香铁皮石斛生态养生谷，力争在十二、五期间把园区打造成全国高科技特色产业龙头，珠三角乃至广东最优秀的铁皮石斛和旅游养生为一体的示范区，成为幸福村居建设的典型，珠海市靓丽的城市名片。整个本香生态养生谷的规划版图，体现三大特色：铁皮石斛种植园、山水休闲度假俱乐部、乡村部落特色文化村，重点突出亲民、利民、富民。</span>
		</p>
		<p class="MsoNormal">
			&nbsp; &nbsp; &nbsp; 企业的成功，离不开专业的团队、科学的流程、系统的管理。在所有本香人的共同努力之下，本香生态养生谷引起了社会各方的热切关注，未来前景大好<span>!</span>
		</p>
		<p class="MsoNormal">
			&nbsp; &nbsp; &nbsp;&nbsp;展望前程，面对千帆竞渡、百舸争流的竞争态势，以“提供绿色铁皮石斛，传递健康理念”为愿景的本香人，必将继续团结拼搏、锐意进取，创造更加辉煌的明天<span>!</span>
		</p>
	</div>
	
</div>







<div class="aboutUs">
	<h1>帮助中心</h1>

	<div class="wboss" id="ab3">
		<h3>在线支付</h3>
		<p class="MsoNormal">本店支持微信在线支付。16:00<span>前付款当日发货，</span><span>16:00</span><span>后付款次日发货。</span></p>
		<p class="MsoNormal">默认发顺丰快递，若需发其他快递请联系客服。100<span>元以下需支付快递费</span><span>12</span><span>元，满</span><span>100</span><span>元包邮哦亲！</span> </p>
	</div>
	
	<div class="wboss" id="ab3.1">
		<h3>退货说明</h3>
		<p class="MsoNormal" style="text-align:justify;">
			收到宝贝后若发现质量问题，请联系我们售后客服4008-233-208进行处理，7<span>天之内自由换货保障</span>。
		</p>
	</div>
	
	<div class="wboss" id="ab3.2">
		<h3>发票说明</h3>
		<p class="MsoNormal" style="text-align:justify;">
			收到宝贝后若发现质量问题，请联系我们售后客服4008-233-208进行处理，7<span>天之内自由换货保障</span>。
		</p>
	</div>
	
	<div class="wboss" id="ab3.3">
		<h3>常见问题</h3>
		<p class="MsoNormal">
			<p class="MsoNormal">
				1.下单后可以修改订单吗<span>?</span>
			</p>
			<p class="MsoNormal">
				在订单打印之前可以修改，打开“订单详情”页面，点击右上角的“修改订单”即可。如无法修改订单，可联系客服进行相关处理。
			</p>
			<br>
			<p class="MsoNormal">
				2.订单已经取消了，何时退款？
			</p>
			<p class="MsoNormal">
				订单取消后<span>,</span><span>可联系客服</span><span>:4008-223-208</span><span>帮助处理退款事宜。</span>
			</p>
			<br>
			<p class="MsoNormal">
				3收到的商品少了<span>/</span><span>发错了怎么办？</span>
			</p>
			<p class="MsoNormal">
				商品少件情况：
			</p>
			<p class="MsoNormal">
				同个订单购买多个商品可能会分为一个以上包裹发出，可能不会同时送达，建议耐心等待<span>1-2</span><span>天，如未收到，可直接联系客服帮忙处理。</span>
			</p>
			<p class="MsoNormal">
				发错货情况：
			</p>
			<p class="MsoNormal">
				若您确认收到的商品不是您订单中订购的商品，可直接联系客服进行处理。
			</p>
			<br>
			<p class="MsoNormal">
				4.退换货需要多长时间？
			</p>
			<p class="MsoNormal">
				收到宝贝后若发现质量问题，请联系我们售后客服<span>4008-233-208</span><span>进行处理，</span><span>7</span><span>天之内自由换货保障。</span>
			</p>
			<br>
			<p class="MsoNormal">
				5.我能指定某一个快递公司送货吗？
			</p>
			<p class="MsoNormal">
				默认发顺丰快递，如需发其他快递请联系客服。
			</p>
			<br>
			<p class="MsoNormal">
				6.上门自提
			</p>
			<p class="MsoNormal">
				为方便顾客到固定地点提货，顾客在提交订单时，选择“上门自提”，选择离自己最近的线下体验店，订单到达自提门店后，系统会以短信形式告知顾客，目前所有上门自提服务均免运费。自提门店查询
			</p>
			<br>
			<p class="MsoNormal">
				7.持有<span>VIP</span><span>尊享卡可享受什么服务</span><span>?</span>
			</p>
			<p class="MsoNormal">
				在购物时享受尊享优惠折扣；
			</p>
			<p class="MsoNormal">
				可获得参加“本香精英俱乐部”举办的各种交流会权利。
			</p>
			<br>
			<p class="MsoNormal">
				8.怎样才能获得<span>VIP</span><span>尊享卡</span><span>?</span>
			</p>
			<p class="MsoNormal">
				申请加入“本香精英俱乐部”微信群，成为俱乐部会员，即可领取<span>VIP</span><span>尊享卡一张。</span>
			</p>
			<br>
			<p class="MsoNormal">
				9.怎样才能加入“本香精英俱乐部”<span>?</span>
			</p>
			<p class="MsoNormal">
				申请加入“本香精英俱乐部”需提交个人资料至<span>xxxxxxxxx</span><span>，资料审核通过后，即可入会。</span>
			</p>
		</p>
	</div>*@
</div>


<div class="aboutUs">
	<h1>联系我们</h1>
	<div class="wboss" id="ab4">
		<p class="foot_p1" style="color:black"><span>深圳市本香实业有限公司</span><span style="margin-left: 208px;">电话：400-845-3388</span></p>
		<p class="foot_p2" style="color:black"><span>邮箱：benxiangyuan@@sina.com</span><span style="margin-left: 163px;">地址：深圳市南山区西丽麻墈村南路36号</span></p>
	</div>
</div>
}

