@pc_frame("首页", "WineApp", "WineController") { 
<meta charset="UTF-8">
<link rel="stylesheet" href='@routes.Assets.at("pc_css/culture.css")' />
	
	<div class="homemain">
		<div class="culture">
		
			<img src='@routes.Assets.at("pc_images/homebg1.jpg")' id="ab1" style="    width: 100%;"/>
			<img src='@routes.Assets.at("pc_images/homebg2.jpg")' id="ab2"/>
			<img src='@routes.Assets.at("pc_images/homebg3.jpg")' id="ab4"/>
			<img src='@routes.Assets.at("pc_images/homebg4.jpg")' id="ab3"/>
		</div>
		
	</div>
}

