@charset "utf-8";
.news2{
	width:1024px;
	margin: auto;
	margin-top:30px;
}

.imgdiv{
    text-align: center;
	padding:30px 50px;;
	border-top: 1px solid #e2e2e2;
}

.p1new{
	color: #999999;
    padding-bottom: 5px;
    padding-left: 5px;
}
.p2new{
    padding-bottom: 50px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 50px 30px;
}

.mwen2 h1{
	font-size:27px;
}



























































