@charset "utf-8";

.homemain{
	    width: 1200px;
	    margin: auto;
}
.product{
	width:1200px;
	margin:auto;
}

.themeimg{
    width: 1200px;
 	margin: 20px auto 0;
}


.pro_ul{
	margin-top: 10px;
}
.pro_ul li:hover{
	border: 1px solid #b2251c;
}
.pro_ul li{
    float: left;
    width: 367px;
    border: 1px solid #7E7F7F;
    padding-bottom: 20px;
    margin: 14px 16.5px;
}
.pro_img{
	width: 100%;
    text-align: center;
}
.pro_img img{
    width: 93%;
    margin-top: 15px;
}
.prop{
    font-size: 17px;
    padding: 0 10px;
    color: black;
}
.protext{
	    padding: 10px 26px 0 10px;
}
.mey{
	color: #b2251c;
    float: left;
}
.mey_sp1{
    font-size: 25px;
}
.probnt{
    width: 130px;
    height: 35px;
    /* border: 1px solid #9B773A; */
    background: #b2251c;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin: 27px 0 0 118px;
}
























