
section{
    background-color: #faf6f2;
    padding-top: 2%;
}

.myOrder_top{
	background-color: #fff;
}

.myOrder_top_ul{
	text-align: center;
	    margin-bottom: 2%
}
.myOrder_top_ul li{
    float: left;
    font-size: 4.4vw;
    width: 33.3%;
    padding:1% 0;
    position: relative;
}

.myOrder_top_ul p{
    position: absolute;
    right: 0;
    width: 1px;
    background-color: #581505;
    height: 35%;
    top: 35%;
}
.myOrder_top_ul span {
    font-size: 3.8vw;
}
.myOrder_main{
	margin-top:2%;
	font-size: 4.4vw;
	background-color: #fff;
}
.myOrder_main_ul li{
    border-bottom: 1px solid #eeeeee;
    padding: 3% 5%;

}
.li_p1{
	float:left;
	width: 50%;
}
.li_p1 i{
	padding-right: 5px;
	
}
.li_p2{
	float:right;
	font-size: 4vw;
	    color: #999;
}
.li2_p2 span{
	font-weight:600;
}
.main_ul_li3 div{
	float:right;
	min-width:25%;
    padding: 1%;
    margin-left: 2%;
    border-radius: 5px;
	text-align: center;
}
/* .li3_div1{
	background-color: #a0a0a0;
	border:1px solid #a0a0a0;
		color: #fff;
}
.li3_div2{
	background-color: #581505;
	border:1px solid #581505;
		color: #fff;
} */
.li3_div3{
	border:1px solid #a0a0a0;
	color:#000
}



@media only screen and (min-width: 500px) {
.myOrder_top_ul li{
    font-size: 20px;
}
.myOrder_main{
	font-size:20px;
}
.li_p2{
	font-size: 16px;
}	
.myOrder_top_ul span {
    font-size: 14px;
}
}
	


